{% extends "authTemplate.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block formContent %}
    <form class="form" method="POST">
        {{ form.hidden_tag() }}  
        {{ wtf.form_errors(form, hiddens='only') }}        
        <h2>Forget Password</h2> 
        <div class="input-group {% if form.email.errors %} has-error {% endif %}"  >
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                
                {{ form.email(class="form-control",required='required',placeholder="Email") }}
                
                {% if form.email.errors %}<span class="glyphicon glyphicon-remove form-control-feedback"></span>{% endif %}
        </div>
        {% for message in form.email.errors %}
            <p class="help-block">{{ message }}</p>                                
        {% endfor %}

        {{ wtf.form_field(form.submit,class="btn btn-success btn-block") }}
    </form>
{% endblock %}